@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: "Roboto", sans-serif;
  --font-baloo: "Baloo 2", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("/fondo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Efecto parallax */
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}
