@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: "Roboto", sans-serif;
  --font-baloo: "Baloo 2", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-category-title-light: #006c36bf;
  --color-category-title-bold: #006c36f2;
  --color-product-green: #3fb549bf;
  --color-green700: #008638;
  --color-gray1: #4a4a4a;
  --color-product-red: #ee3135bf;
  --color-product-orange: #eea514bf;
  --color-white-25: #ffffff40;
  --color-border-gray: #a8a8a8;
  --color-gray2: #c0c0c0;
  --image-product-categories: url(/home/bg-product-categories.png);
  --image-product-categories-rotate: url(/home/bg-product-categories-rotate.png);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-itcGBold: var(--font-itcBold);
  --font-itcGBook: var(--font-itcBook);
  --font-itcGDemi: var(--font-itcDemi);
  --font-itcGLTBook: var(--font-itcLTBook);
  --font-itcGLTCondensedBook: var(--font-itcLTCondensedBook);
}

.font-baloo {
  font-family: var(--font-baloo), sans-serif;
}

body {
  background-image: url("/fondo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Efecto parallax */
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}

.bg-product-categories {
  background-image: url(/home/bg-product-categories.png);
}

.bg-product-categories-rotate {
  background-image: url(/home/bg-product-categories-rotate.png);
}

.bg-category-title-light {
  background-color: #006c36bf;
}

:root:has(.maximaze,.sidebar) {
  overflow-y: hidden; 
  /* Usar cuando se organice el MODAL */
}

.bg-category-title-bold {
  background-color: #006c36f2;
}

.product-category-card:hover .product-category-main-image {
  scale: 100%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}